{% load static %}

<li>
    <article class="post">
        <a href="">
        <img src="{% static "blog/images/mountains.jpg" %}" alt="Montuain">
        <div class="post__content">
            <h3>Mountain</h3>
            <p>Lorem ipsum 
            dolor sit, amet 
            consectetur adipisicing elit. Blanditiis id dicta voluptas atque expedita veritatis aperiam alias, qui eaque non sapiente doloribus ullam, tenetur magnam, necessitatibus totam maiores nobis! In?</p>
        </div>
    </a>
    </article>
</li>